# Ignore invisible files/folders except .gitignore
.*
!.gitignore

# Ignore data files
Data/

# Ignore derived data except the Documentation
DerivedData/

# Ignore user preferences
userPreferences.*
Preferences/
!4DPop AppMaker.xml

# Ignore settings
Settings/
!buildApp.4DSettings

# Ignore Trash
Project/Trash/

# Others
Resources/FR_US Commands.xml
Resources/php.ini
Resources/FR_US.xml
Resources/Macro_FR_US.xml

Build/Components/4DPop Macros.4dbase/Resources/php.ini
Build/Components/4DPop Macros.4dbase/Resources/FR_US Commands.xml
Project/Sources/Methods/Method118.4dm
DossierWeb/index.html
_gsdata_
Build/Components/4DPop Macros.dmg
Libraries/lib4d-arm64.dylib
