.Button {
	font-family: Segoe UI;
	font-size: 13px;
}

.Par_défaut {
	font-family: Segoe UI;
	font-size: 12px;
}

.System_Normal {
	font-family: Segoe UI;
	font-size: 13px;
}

.System_Petit {
	font-family: Segoe UI;
	font-size: 11px;
}

.xCode {
	font-family: Segoe UI;
	font-size: 12px;
}

.xList {
	font-family: Segoe UI;
	font-size: 12px;
}

.xSystem {
	font-family: Segoe UI;
	font-size: 12px;
}

